.content {
    font-size: 16px;
    .intro {
        background-image: url('../../img/intro.jpg');
        background-size: cover;
        background-position: top;
        p {
            padding: 0 110px;
            margin-bottom: 30px;
            line-height: 1.5;
        }
        a {
            color: $white;
           img {
               width: 30px;
               margin-right: 15px;
               vertical-align: middle;
           } 
        }
        .images {
            margin: 55px 80px 0;
            position: relative;
            bottom: -3px;
            &:hover {
                color: grey;
                cursor: pointer;
            }
            img:first-child {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
            img:nth-child(2) {
                width: 98.7%;
                border-radius: 20px;
            }
            i {
                font-size: 120px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    } 
}