//COLORE
$white: #ffffff;
$black: #000000;
$action-color: #009cff;
$bg-color-head: #101010;
$color-navbar-top: #989898;
$color-navbar-bottom: #e6e6e6;
$color-bg-icon-main: #e74500;

//TYPOGRAPHY
$main-font: 'Montserrat', sans-serif;
$color-text: #f1f1f1;
$base-font: 15px;

//AREA
$action-space: 20px;